<h1>Make your preorder now!</h1>

<form action = "/preorders" method = "post">
  <label for = "first_name">First name:</label>
  <input type = "text" name = "first_name">

  <label for = "last_name">Last name:</label>
  <input type="text" name="last_name">

  <label for = "size">Select a size:</label>
  <select name = "size">
    <option value = "7">7</option>
    <option value = "8">8</option>
    <option value = "9">9</option>
    <option value = "10">10</option>
    <option value = "11">11</option>
  </select>

  <label for = "quantity">Quantity</label>
  <input type = "number" name="quantity">

  <input type = "submit" name = "Order shoos">
</form>

